<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Meet And Eat
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">TABS</h1>
    <h2 class="subtitle">


{{#if model}}
  {{#each}}
    <p>Successfully created account with id: {{this}}</p>
  {{/each}}
{{/if}}

{{#if isLoggedIn}}
<!-- loop through all db cards here-->
<div class="columns is-mobile is-multiline is-2">
  {{#each cards}}
  <div class="column is-4">
    <div class="box">
      Title: {{cardTitle}} <br />
      Description:{{cardDesc}} <br />
      When to meet:{{cardDate}} <br />
      The author of the card: {{cardAuthor}} <br \>
    </div>
    <input class="input" type="text" placeholder="Add comment" id="cardComment">

  </div>
  {{/each}}
</div>
{{/if}}
