<link rel="stylesheet" type="text/css"   href="/css/style.css">

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Meet And Eat
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">CARDS</h1>
    <h2 class="subtitle">


{{#if model}}
  {{#each}}
    <p>Successfully created account with id: {{this}}</p>
  {{/each}}
{{/if}}
{{#if isLoggedIn}}
<div class="columns is-mobile is-multiline is-2">
  {{#each cards}}
  <div class="column is-4">
    <div class="box">
      <h1><b>{{cardTitle}}</b></h1> <br>
      <h2>{{cardDesc}}</h2> <br>
      <h4>Author: {{cardAuthor}}</h4><br>
      <form method="GET" action="/open-card/{{cardId}}">
        <input class="button is-rounded is-info is-small" type="submit" value="Open card">
      </form>

    </div>
  </div>
  {{/each}}
</div>
<form method="GET" action="/create-card">
        <input class="button is-rounded is-info is-small" type="submit" value="Create card">
      </form>
{{/if}}
